<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="https://i.ibb.co/2hCTDKN/secret.gif" />
    <title>Secrets...</title>
</head>
<%- include('../partials/style') %>

<body>
    <%- include('../partials/nav') %>
    <!-- <h2>speak freely, speak anonymously...</h2> -->
        <% for(let i=secrets.length-1; i>=0; i--) { %>
            <div id='messageBoard'>
                <article class='secret'>
                    <a href='/secret/<%= secrets[i]._id %>'> <%= secrets[i].context %> </a>
                    <form id='deleteButton' action ='/secret/<%=secrets[i]._id %>?_method=DELETE' method='POST'>
                        <div class="text-right"><button type="submit" class="btn btn-primary btn-sm">REPORT</button></div>
                    </form>
                </article>
            </div>

        <% } %>

    <%- include('../partials/footer') %>
</body>
</html>
