<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Secrets...</title>
</head>
<%- include('../partials/style') %>

<body>
    <%- include('../partials/nav') %>
    <div id='messageBoard'>
        <h3>speak freely...</h3>
        <% secrets.forEach((user, i) => { %>
            <article class='secret'>
                <a href='/secret/<%= secrets[i]._id %>'> <%= secrets[i].context %> </a>
                <form id='deleteButton' action ='/secret/<%=secrets[i]._id %>?_method=DELETE' method='POST'>
                    <div class="text-right"><button type="submit" class="btn btn-primary mb-2">DELETE</button></div>
                </form>
            </article>
        <% }) %>
    </div>
</body>
</html>
