<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>USER INFO: <%= oneWhisperer.name %> </title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Welcome <%= oneWhisperer.name %></h1>
    <h2>Your username is <%= oneWhisperer.username %></h2>
    <h3><%= cakeDay %></h3>
</body>
</html>
